@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", "Segoe UI", sans-serif;
  background-color: #f9fafb;
}

.fixed-height {
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 10px;
}

.fixed-height::-webkit-scrollbar {
  width: 6px;
}

.fixed-height::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.fixed-height::-webkit-scrollbar-thumb {
  background: #0e7490;
  border-radius: 10px;
}

.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.todo {
  transition: all 0.3s ease;
}

.todo:hover {
  transform: translateY(-2px);
}

@keyframes pulse {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}

.animate-pulse {
  animation: pulse 2s infinite;
}

.congratulations-message {
  animation: celebrateAnimation 1s ease-in-out;
}

@keyframes celebrateAnimation {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
